:root {
  --card-width: 32%;
  --html-width: 1200px;
  --bg-color: #181a1b;
  --border-color: white;
  --text-color: white;
  --link-color: #3d84ff;
}

@media only screen and (max-width: 992px) {
  .sk3-card {
    width: 100%
  }

  .sidebar {
    left: 0;
    padding-left: 18px;
  }
}

@media only screen and (min-width: 993px) {
  .sk3-card {
    width: var(--card-width);
  }
}


html {
  background-color: var(--bg-color);
  border-color: var(--border-color);
  color: var(--text-color);
  margin-left: auto;
  margin-right: auto;
  max-width: var(--html-width);
  font-family: Arial, Helvetica, sans-serif, "Lucida Console", Monaco, monospace
}

a {
  color: var(--link-color);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

header a,
header h1,
header h2,
header h3,
header h4 {
  padding-block-start: 0;
  padding-block-end: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  padding: 0px;
  margin: 0px;
}

img {
  max-width: 100%;
}

kbd {
  border: 1px solid;
  border-radius: 3.5px;
}

.main,
header,
footer {
  margin-right: 10px;
  margin-left: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
  display: block;
}

table {
  border: 1px solid;
  border-collapse: collapse;
  width: 100%;
}

td,
th,
td {
  text-align: left;
  padding: 5px;
  border: 1px solid;
}

.box {
  border: 1px solid;
  padding: 5px;
}

.box-right {
  border-right: 1px solid;
}

.box-top {
  border-top: 1px solid;
}

.txt-center-h {
  text-align: center;
}

.txt-right {
  text-align: right;
}

.sidebar {
  display: none;
  height: 100%;
  top: 0;
  background-color: var(--bg-color);
  overflow: auto;
  position: fixed !important;
  width: 200px;
  z-index: 1;
  padding-top: 8px;
  padding-right: 15px;
}

.sidebar h1 {
  font-size: 2em;
}

.sk3-card {
  padding: 10px;
  margin: 5px;
  /*width: 300px;*/
  box-sizing: border-box;
}

.sk3-card h3 {
  margin-block-end: 1px;
  margin-block-start: 1px;
}

.sk3-card p {
  margin-block-end: 1px;
  margin-block-start: 5px;
}

.sk3-card .title {
  /*h3*/
  font-size: 1.17em;
  font-weight: bold;
  display: inline-flex;
}

.sk3-flex {
  display: flex;
  flex-wrap: wrap;
}

.sk3-flex-right {
  display: flex;
  margin-left: auto;
}

.sk3-flex-down {
  margin-top: auto;
}

.sk3-flex-up {
  margin-bottom: auto;
}

.sk3-flex-inline {
  display: inline-flex;
}

.sk3-flex-center-h {
  justify-content: center;
}

.sk3-flex-center-v {
  margin-top: auto;
  margin-bottom: auto;
}

.sk3-no-dot {
  list-style-type: none;
}

.sk3-subtitle {
  /*h3*/
  font-size: 1.17em;
  font-weight: bold;
  font-variant-position: sub;
}

.sk3-title {
  /*h1*/
  font-size: 2em;
  font-weight: bold;
}

.sk3-pad {
  padding: 5px;
}

.sk3-pad-down {
  padding-top: 5px;
}

.sk3-margin-down {
  margin-top: 2px;
}

.sk3-pad-10 {
  padding: 10px;
}

.sk3-pad-v {
  padding-top: 5px;
  padding-bottom: 5px;
}

.sk3-pad-v-10 {
  padding-top: 10px;
  padding-bottom: 10px;
}

.sk3-pad-h {
  padding-left: 5px;
  padding-right: 5px;
}

.sk3-pad-h-10 {
  padding-left: 10px;
  padding-right: 10px;
}

.sk3-margin {
  margin: 5px;
}

.sk3-margin-10 {
  margin: 10px;
}

.sk3-margin-v {
  margin-top: 5px;
  margin-bottom: 5px;
}

.sk3-margin-v-10 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.sk3-margin-h {
  margin-left: 5px;
  margin-right: 5px;
}

.sk3-margin-h-10 {
  margin-left: 10px;
  margin-right: 10px;
}

sk3-pager {
  font-size: 1.17em;
  font-weight: bold;
}

sk3-pager ul {
  margin: 10px;
  padding: 0;
}

sk3-pager li {
  list-style-type: none;
  display: inline-block;
  margin-left: 5px;
  padding-left: 0.3em;
  padding-right: 0.3em;
}

sk3-social {
  font-size: 2em;
}

sk3-social a {
  margin-left: 10px;
}

sk3-toc {
  display: none;
}

sk3-toc li {
  list-style-type: none;
}

sk3-toc ul {
  margin-left: 0px;
  padding-left: 5px;
}

sk3-toc ul ul {
  margin-left: 0px;
  padding-left: 20px;
}

/* svg */
.sk3-social-fab {
  height: 24px;
  width: 24px;
  opacity: 0.7;

  fill: var(--link-color);
}

.sk3-social-fab:hover {
  opacity: 1;
}

/* for Font Awesome webfont*/
.fab {
  padding: 5px;
  text-align: center;
  opacity: 0.7;
}

.fab:hover {
  opacity: 1;
}