{{define "main"}}
<div class="main">

	<div></div>

	{{if not .IsHome}}
	{{with .Title}}<h1>
		<heading>{{.}}</heading>
	</h1>{{end}}
	{{with .Content}}<article>{{.}}</article>{{end}}
	{{end}}

	<!--Set type-->
	{{if .Site.Params.mainType}}
	{{.Scratch.Set "type" .Site.Params.mainType}}
	{{else}}
	{{.Scratch.Set "type" "post"}}
	{{end}}

	<!--Set paginator base on .IsHome-->
	{{if .IsHome}}
	{{.Scratch.Set "Paginator" (.Paginate (where .Site.RegularPages "Type" (.Scratch.Get "type")))}}
	{{else}}
	{{.Scratch.Set "Paginator" .Paginator}}
	{{end}}
	{{$paginator:=(.Scratch.Get "Paginator")}}

	<div></div>

	<!--pagination-->
	<div class="sk3-flex sk3-flex-center-h">
		<sk3-pager class="sk3-margin-v sk3-pad-v">{{template "_internal/pagination.html" .}}</sk3-pager>
	</div>

	<div></div>

	<!--cards-->
	<section class="sk3-flex sk3-flex-center-h">
		{{range $paginator.Pages}}
		<div class="sk3-card box">
			<div class="sk3-flex">
				<a class="title" href="{{.RelPermalink}}">{{.Title}}</a>
				{{if .Site.Params.card.date}}
				{{with .Lastmod}}<div class="sk3-flex-right sk3-flex-down">{{dateFormat "2006-01-02" .}}</div>{{end}}
				{{end}}
			</div>
			{{if .Site.Params.card.summary}}<div>{{.Summary}}</div>{{end}}
		</div>
		{{end}}
	</section>

	<div></div>

	<!--pagination-->
	<div class="sk3-flex sk3-flex-center-h">
		<sk3-pager class="sk3-margin-v sk3-pad-v">{{template "_internal/pagination.html" .}}</sk3-pager>
	</div>

	{{partial "social-link.html" .}}

	<div></div>

</div>
{{end}}