{{define "main"}}
<div class="main">

	<div></div>

	{{with .Title}} <heading>
		<h1>{{.}}</h1>
	</heading> {{end}}

	<div></div>

	<!--toc-->
	{{if (.Params.toc|default true)}}
	{{if and (ge (len .TableOfContents) 100) (ne .Params.toc "false")}}
	<div class="box sk3-pad-10 sk3-margin-v-10">
		<div class="collapsible">☰ Table of Content</div>
		<sk3-toc>{{.TableOfContents}}</sk3-toc>
	</div>
	{{end}}
	{{end}}

	<!--content-->

	{{with .Content}}<content>{{.}}</content>{{end}}

	<div></div>

	{{if .Site.Params.pageinfobox}}
	{{partial "pageinfo-box.html" .}}
	{{else}}
	{{partial "pageinfo.html" .}}
	{{end}}

	<div></div>

	<!--disqus-->
	{{if and .Site.DisqusShortname (.Params.comment|default true)}}
	{{template "_internal/disqus.html" .}}
	{{end}}
</div>
{{end}}