<header class="sk3-flex">

	<!--Menu-->
	<nav class="sidebar box-right sk3-no-dot" id="menu-bar">
		<div class="sk3-title sk3-flex-center-v menu-button">☰</div>
		{{partial "social-share.html" .}}
		<hr>
		<h4>
			{{$currentPage := .}}
			{{range site.Menus.main}}
			{{if .HasChildren}}
			<li class="{{if $currentPage.HasMenuCurrent "main" .}}active{{end}}">
				<a href="#">
					{{.Pre}}
					<span>{{.Name}}</span>
				</a>
			</li>
			<ul>
				{{range .Children}}
				<li class="{{if $currentPage.IsMenuCurrent "main" .}}active{{end}}">
					<a href="{{.URL}}">{{.Name}}</a>
				</li>
				{{end}}
			</ul>
			{{else}}
			<li>
				<a href="{{.URL}}">
					{{.Pre}}
					<span>{{.Name}}</span>
				</a>
			</li>
			{{end}}
			{{end}}
		</h4>
	</nav>

	<!--Title Bar-->
	<div class="sk3-flex">
		<div class="sk3-title sk3-flex-center-v menu-button">☰</div>
		<div class="sk3-title sk3-margin-h"><a href="{{relLangURL ""}}">{{site.Title}}</a></div>
		{{with site.Params.subtitle}}<div class="sk3-subtitle sk3-flex-center-v">{{.}}</div>{{end}}
	</div>

</header>