<head>
	<!--Meta-->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{{site.Title}}{{if not .IsHome}} | {{.Title}}{{end}}</title>
	<meta name="description" content="{{if .IsHome}}
	{{site.Params.description}}
	{{else}}
	{{if .Description}}
	{{.Description}}
	{{else}}
	{{site.Title}} - {{.Title}}
	{{end}}
	{{end}}">
	{{with .Params.author}}<meta name="author" content="{{.}}">{{end}}
	{{with .Language}}<meta http-equiv="content-language" content="{{.}}">{{end}}
	{{if site.Params.user_canonical}}<link rel="canonical" href="{{absURL .Permalink}}"/>{{end}}
	<!--css-->
	<link rel="stylesheet" href="{{relLangURL ""}}css/sk3.css">
	<!--site.Params-->
	<style>
		{{with site.Params.card.width}}
		@media only screen and (min-width: 993px){:root{--card-width: {{.}};}}
		{{end}}
		{{with site.Params.pagewidth}}
		@media only screen and (min-width: 993px){:root{--html-width: {{.}};}}
		{{end}}
		{{with site.Params.color.bg}}:root{--bg-color:{{.}};}{{end}}
		{{with site.Params.color.border}}:root{--border-color:{{.}};}{{end}}
		{{with site.Params.color.link}}:root{--link-color:{{.}};}{{end}}
		{{with site.Params.color.text}}:root{--text-color:{{.}};}{{end}}
	</style>
	<!--favicon-->
	{{with site.Params.favicon}}<link rel="icon" href="{{.}}">{{end}}
	<!--custom scripts-->
	{{range site.Params.custom_js}}
	<script src="{{.|relURL}}"></script>
	{{end}}
</head>