<head>
	<!--Meta-->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{{site.Title}}{{if not .IsHome}} | {{.Title}}{{end}}</title>
	<meta name="description" content="{{if .IsHome}}
	{{site.Params.description}}
	{{else}}
	{{if .Description}}
	{{.Description}}
	{{else}}
	{{site.Title}} - {{.Title}}
	{{end}}
	{{end}}">
	{{with .Params.author}}<meta name="author" content="{{.}}">{{end}}
	{{if site.Params.user_canonical}}<link rel="canonical" href="{{absURL .Permalink}}"/>{{end}}
	<!--favicon-->
	{{with site.Params.favicon}}<link rel="icon" href="{{.}}">{{end}}

	<!--css-->
	<link rel="stylesheet" href="{{relLangURL ""}}css/sk3.css">
	<!--site.Params-->
	<style>
		{{with site.Params.card.width}}
		@media only screen and (min-width: 993px){:root{--width-card: {{.}};}}
		{{end}}
		{{with site.Params.pagewidth}}
		@media only screen and (min-width: 993px){:root{--width-html: {{.}};}}
		{{end}}
		{{with site.Params.color.bg}}:root{--color-bg:{{.}};}{{end}}
		{{with site.Params.color.border}}:root{--color-border:{{.}};}{{end}}
		{{with site.Params.color.link}}:root{--color-link:{{.}};}{{end}}
		{{with site.Params.color.text}}:root{--text-color:{{.}};}{{end}}
	</style>
	<!--custom css-->
	{{range site.Params.custom_css}}
	<link rel="stylesheet" href="{{.|relURL}}">
	{{end}}

	<!--scripts-->
	{{if or site.Menus.main site.Params.socialshare (default true .Params.toc)}}
	<script>
		openToc=false
		{{with site.Params.openToc}}openToc={{.}}{{end}}
	</script>
	<script defer src="{{relLangURL ""}}js/sk3.js"></script>
	{{end}}
	<!--Google-->
	{{if site.GoogleAnalytics}}{{template "_internal/google_analytics_async.html" .}}{{end}}
	<!--AdSense-->
	{{partial "adsense.html" .}}
	<!--custom scripts-->
	{{range site.Params.custom_js}}
	<script src="{{.|relURL}}"></script>
	{{end}}

	<!--svg-->
	{{if site.Params.svg_ext}}
	<link href="https://use.fontawesome.com/releases/v5.13.1/css/all.css" rel="stylesheet">
	{{else}}
	{{partial "sk3-fa-brands.svg" .}}
	{{end}}
</head>