<!--Menu Bar-->
<nav class="sidebar box-right sk3-no-dot menu-bar">
	<div class="sk3-flex-center-v header-h1 menu-button">☰</div>

	<!--Social Share-->
	{{if site.Params.socialshare}}
	<hr>
	<div class="sk3-flex sk3-pad-h-10 sk3-flex-center-h">
		<b>Share</b> {{partial "social-share.html" .}}
	</div>
	{{end}}

	<!--Menu-->
	{{if site.Menus}}
	<hr>
	<h4 class="sk3-pad-h-10">
		{{$currentPage := .}}
		{{range site.Menus.main}}
		{{if .HasChildren}}
		<li class="{{if $currentPage.HasMenuCurrent "main" .}}active{{end}}">
			<a href="#">
				{{.Pre}}
				<span>{{.Name}}</span>
			</a>
		</li>
		<ul>
			{{range .Children}}
			<li class="{{if $currentPage.IsMenuCurrent "main" .}}active{{end}}">
				<a href="{{.URL}}">{{.Name}}</a>
			</li>
			{{end}}
		</ul>
		{{else}}
		<li>
			<a href="{{.URL}}">
				{{.Pre}}
				<span>{{.Name}}</span>
			</a>
		</li>
		{{end}}
		{{end}}
	</h4>
	{{end}}

	<!--Social Link-->

	{{if site.Params.sociallink}}
	<hr>
	<div class="sk3-flex sk3-pad-h-10 sk3-flex-center-h">
		<b>Follow</b> {{partial "social-link.html" .}}
	</div>
	{{end}}

	<hr>

</nav>
<div class="sidebar-mask menu-bar menu-button"></div>