<sk3-social>
	{{if site.Params.socialshare.facebook}}
	<a target="_blank" rel="noopener noreferrer" class="fab fa-facebook"
		href="//www.facebook.com/sharer/sharer.php?u={{.Permalink}}"
		onclick="window.open(this.href, 'Facebook', 'width=800,height=600,toolbar=0,status=0'); return false"></a>
	{{end}}
	{{if site.Params.socialshare.linkedin}}
	<a target="_blank" rel="noopener noreferrer" class="fab fa-linkedin"
		href="//www.linkedin.com/shareArticle?mini=true&url={{.Permalink}}&title={{.Title}}"
		onclick="window.open(this.href, 'LinkedIn', 'width=640,height=480,toolbar=0,status=0'); return false"></a>
	{{end}}
	{{if site.Params.socialshare.pinterest}}
	<a target="_blank" rel="noopener noreferrer" class="fab fa-pinterest"
		href="//pinterest.com/pin/create/button/?url={{.Permalink}}&description={{.Title}}"
		onclick="window.open(this.href, 'Pinterest', 'width=800,height=720,toolbar=0,status=0'); return false"></a>
	{{end}}
	{{if site.Params.socialshare.reddit}}
	<a target="_blank" rel="noopener noreferrer" class="fab fa-reddit"
		href="//www.reddit.com/submit?url={{.Permalink}}&amp;title={{.Title}}"
		onclick="window.open(this.href, 'Reddit', 'width=832,height=624,toolbar=0,status=0'); return false"></a>
	{{end}}
	{{if site.Params.socialshare.telegram}}
	<a target="_blank" rel="noopener noreferrer" class="fab fa-telegram"
		href="//t.me/share/url?url={{.Permalink}}&amp;title={{.Title}}"
		onclick="window.open(this.href, 'Telegram', 'width=800,height=600,toolbar=0,status=0'); return false"></a>
	{{end}}
	{{if site.Params.socialshare.twitter}}
	<a target="_blank" rel="noopener noreferrer" class="fab fa-twitter"
		href="//twitter.com/intent/tweet/?url={{.Permalink}}&amp;text={{.Title}}"
		onclick="window.open(this.href, 'Twitter', 'width=800,height=450,resizable=yes,toolbar=0,status=0'); return false"></a>
	{{end}}
	{{if site.Params.socialshare.vk}}
	<a target="_blank" rel="noopener noreferrer" class="fab fa-vk" href="//vk.com/share.php?url={{.Permalink}}"
		onclick="window.open(this.href, 'VK', 'width=640,height=480,toolbar=0,status=0'); return false"></a>
	{{end}}
	<!--no icon ... -->
	{{if site.Params.socialshare.qzone}}
	<a target="_blank" rel="noopener noreferrer" class="fab fa-qzone"
		href="//sns.qzone.qq.com/cgi-bin/qzshare/cgi_qzshare_onekey?url={{.Permalink}}&sharesource=qzone&title={{.Title}}&summary={{default .Title .Description}}"
		onclick="window.open(this.href, 'QZone', 'width=800,height=720,toolbar=0,status=0'); return false"></a>
	{{end}}
	{{if site.Params.socialshare.pocket}}
	<a target="_blank" rel="noopener noreferrer" class="fab fa-pocket"
		href="//getpocket.com/edit?url={{.Permalink}}&amp;title={{.Title}}"
		onclick="window.open(this.href, 'Pocket', 'width=480,height=320,toolbar=0,status=0'); return false"></a>
	{{end}}
</sk3-social>