<sk3-social>
	{{if site.Params.socialshare.facebook}}
	<a target="_blank" rel="noopener noreferrer" href="//www.facebook.com/sharer/sharer.php?u={{.Permalink}}"
		onclick="window.open(this.href, 'Facebook', 'width=800,height=600,toolbar=0,status=0'); return false"><svg class="sk3-social-fab">
			<use xlink:href="#facebook"></use>
		</svg>
	</a>
	{{end}}
	{{if site.Params.socialshare.linkedin}}
	<a target="_blank" rel="noopener noreferrer"
		href="//www.linkedin.com/shareArticle?mini=true&url={{.Permalink}}&title={{.Title}}"
		onclick="window.open(this.href, 'LinkedIn', 'width=640,height=480,toolbar=0,status=0'); return false"><svg class="sk3-social-fab">
			<use xlink:href="#linkedin"></use>
		</svg>
	</a>
	{{end}}
	{{if site.Params.socialshare.pinterest}}
	<a target="_blank" rel="noopener noreferrer"
		href="//pinterest.com/pin/create/button/?url={{.Permalink}}&description={{.Title}}"
		onclick="window.open(this.href, 'Pinterest', 'width=800,height=720,toolbar=0,status=0'); return false"><svg class="sk3-social-fab">
			<use xlink:href="#pinterest"></use>
		</svg>
	</a>
	{{end}}
	{{if site.Params.socialshare.pocket}}
	<a target="_blank" rel="noopener noreferrer" href="//getpocket.com/edit?url={{.Permalink}}&amp;title={{.Title}}"
		onclick="window.open(this.href, 'Pocket', 'width=480,height=320,toolbar=0,status=0'); return false"><svg class="sk3-social-fab">
			<use xlink:href="#pocket"></use>
		</svg>
	</a>
	{{end}}
	{{if site.Params.socialshare.reddit}}
	<a target="_blank" rel="noopener noreferrer"
		href="//www.reddit.com/submit?url={{.Permalink}}&amp;title={{.Title}}"
		onclick="window.open(this.href, 'Reddit', 'width=832,height=624,toolbar=0,status=0'); return false"><svg class="sk3-social-fab">
			<use xlink:href="#reddit"></use>
		</svg>
	</a>
	{{end}}
	{{if site.Params.socialshare.telegram}}
	<a target="_blank" rel="noopener noreferrer" href="//t.me/share/url?url={{.Permalink}}&amp;title={{.Title}}"
		onclick="window.open(this.href, 'Telegram', 'width=800,height=600,toolbar=0,status=0'); return false"><svg class="sk3-social-fab">
			<use xlink:href="#telegram"></use>
		</svg>
	</a>
	{{end}}
	{{if site.Params.socialshare.twitter}}
	<a target="_blank" rel="noopener noreferrer"
		href="//twitter.com/intent/tweet/?url={{.Permalink}}&amp;text={{.Title}}"
		onclick="window.open(this.href, 'Twitter', 'width=800,height=450,resizable=yes,toolbar=0,status=0'); return false"><svg class="sk3-social-fab">
			<use xlink:href="#twitter"></use>
		</svg>
	</a>
	{{end}}
	{{if site.Params.socialshare.vk}}
	<a target="_blank" rel="noopener noreferrer" href="//vk.com/share.php?url={{.Permalink}}"
		onclick="window.open(this.href, 'VK', 'width=640,height=480,toolbar=0,status=0'); return false"><svg class="sk3-social-fab">
			<use xlink:href="#vk"></use>
		</svg>
	</a>
	{{end}}

	<!--no icon ... -->
	{{if site.Params.socialshare.qzone}}
	<a target="_blank" rel="noopener noreferrer"
		href="//sns.qzone.qq.com/cgi-bin/qzshare/cgi_qzshare_onekey?url={{.Permalink}}&sharesource=qzone&title={{.Title}}&summary={{default .Title .Description}}"
		onclick="window.open(this.href, 'QZone', 'width=800,height=720,toolbar=0,status=0'); return false"><svg class="sk3-social-fab">
			<use xlink:href="#qzone"></use>
		</svg>
	</a>
	{{end}}




</sk3-social>